<div class="parrafo">
    <h1>¿Quiénes somos?</h1>
    <br>

    <p>
        Somos GreenTec, una empresa Mexicana, líderes en el reciclaje de equipos electrónicos en México.
        Nuestra misión es simple pero poderosa: Concientizar sobre la importancia del reciclaje y
        la economía circular para combatir el cambio climático. Juntos, reducimos, reutilizamos y
        reciclamos para un futuro más verde y próspero.
    </p>

</div>

<div class="imagen">
    <img src="assets/img/Greentec.png" alt="">
</div>