<div class="ubicación">
    <div class="ubicación-map">
        <!-- El iframe de Google Maps embebido -->
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.9986778388375!2d-99.03739460482416!3d22.02093887285373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d60d45cc4cf729%3A0xca99477921b9215b!2sInstituto%20Tecnol%C3%B3gico%20de%20Ciudad%20Valles!5e0!3m2!1ses-419!2smx!4v1715314983048!5m2!1ses-419!2smx" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="ubicación-info">
        <h3>¡Encuéntranos fácilmente! Tu destino está a solo un clic de distancia.</h3>
        <br>
        <p>
            Estamos ubicados rumbo a la Carretera al Ingenio Plan de Ayala, Colonia Vista Hermosa, 79010 Ciudad Valles, S.L.P.
        </p>
        <img class="ubic" src="assets/img/ubi.png" alt="Ubicación en el mapa">
    </div>
</div>