<section class="vh-100" style="background-color: #393be4;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <a (click)="goToHome()" style="cursor: pointer;">
                <img src="assets/img/volver.png" alt="" style="padding: 40px;">
              </a>
                <span class="h1 fw-bold mb-0">
                  <img src="assets/img/Greentec.jpg" style="width: 150px; margin-top: 40px; margin-left: 40px;"/>
                </span>

                <img src="assets/img/registrando.png" style="width: 400px; margin-top: 30px;margin-left: 40px;" />

            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="registroForm" (ngSubmit)="register()">
                  <h4 class="Iniciar" style="letter-spacing: 1px;">Registrarte</h4>
                  <div class="form-outline mb-4">
                    <label for="nombre">Nombre:</label>
                    <input id="nombre" type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Nombre(s)" required />
                    <div *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
                      <small>El nombre es obligatorio y debe tener al menos 3 caracteres.</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="apellidos">Apellidos:</label>
                    <input id="apellidos" type="text" formControlName="apellidos" class="form-control form-control-lg" placeholder="Apellido(s)" required />
                    <div *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched">
                      <small>Los apellidos son obligatorios y deben tener al menos 3 caracteres.</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="sexo">Sexo:</label>
                    <select id="sexo" formControlName="sexo" class="form-control form-control-lg" required>
                      <option value="" disabled>Selecciona...</option>
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                    </select>
                    <div *ngIf="registroForm.get('sexo')?.invalid && registroForm.get('sexo')?.touched">
                      <small>El sexo es obligatorio.</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="correo">Correo:</label>
                    <input id="correo" type="email" formControlName="correo" class="form-control form-control-lg" placeholder="Correo electrónico" required />
                    <div *ngIf="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched">
                      <small>Por favor, introduzca un correo válido.</small>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label for="contra">Contraseña:</label>
                    <input id="contra" type="password" formControlName="contra" class="form-control form-control-lg" placeholder="Contraseña" required />
                    <div *ngIf="registroForm.get('contra')?.invalid && registroForm.get('contra')?.touched">
                      <small>La contraseña debe tener al menos 6 caracteres.</small>
                    </div>
                  </div>

                  <button class="login-button" type="submit" [disabled]="registroForm.invalid">Registrarse</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
