
<section style="background-color: #393be4; min-height: 100vh;">
    <nav>
        <ul>
            <!-- Enlace con routerLink para enrutamiento en Angular -->
            <li>
                <a routerLink="/" class="logo">
                    <img class="logo1" src="assets/img/logo.jpeg" alt="Logo GreenTec">
                    <span class="nav-item">GREENTEC</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" [routerLink]="'/RecolectorHome'" class="home" >
                    <i style="color: #75b82e;" class="fas fa-home"></i>
                    <span class="nav-item">Principal</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" [routerLink]="'/RecolectorRuta'">
                    <i class="fas fa-map-marked-alt"></i>
                    <span class="nav-item">Ruta</span> 
                </a>
            </li>
            <li>
                <a routerLinkActive="active" [routerLink]="'/RecolectorArchivo'" >
                    <i class="fas fa-file"></i>
                    <span class="nav-item">Archivo</span>
                </a>
            </li>

            <li>
                <!-- Evento click para salir -->
                <a (click)="goToHome()" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Salir</span>
                </a>
            </li>
        </ul>
    </nav>


<div class="bien">
    <div class="credencial">
        <h1>¡Bienvenido!</h1>
        <p>
            En GreenTec, estamos comprometidos con la protección del medio ambiente y la 
            promoción de un futuro más sostenible. Como parte de nuestra comunidad, te damos 
            la bienvenida a bordo para formar parte de esta importante misión
        </p>
    </div>
    <!-- Otros elementos de bienvenida pueden ir aquí -->
</div>

<!-- Agregar scripts si son necesarios -->









