
    <div class="parrafoser">
        <h1>Nuestros Servicios</h1>
        <br>
        <p>
            Nuestra empresa ofrece un servicio integral de gestión de desechos tecnológicos 
            urbanos para el municipio de Ciudad Valles, que abarca desde la recepción segura 
            de los residuos electrónicos por parte de los ciudadanos hasta la documentación del 
            embarque hacia la empresa recicladora. 
        </p>
        <br>
        <p> 
            Implementamos un sistema que registra los datos 
            de los usuarios que entregan desechos, generando automáticamente un listado cuando se 
            alcanza un total de 2 toneladas, para luego proceder con la segregación y canalización 
            eficiente de los residuos hacia la industria de transformación. Con esta iniciativa, buscamos 
            contribuir significativamente a la sustentabilidad del planeta y promover prácticas 
            responsables de reciclaje en la comunidad.
        </p>
    </div>

    <div class="imagenser">
        <!-- En Angular, usa assets para imágenes estáticas -->
        <img src="assets/img/Camion.png" alt="Camión de reciclaje">
    </div>
